.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 60px;

  border-bottom: 1px solid #dedede;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: white;

  z-index: 1;
}

.header-left {
  display: flex;
  align-items: center;

  width: 170px;
}

.header-left > .hamburger-icon {
  width: 24px;
  height: 24px;

  margin: 0px 24px;
}

.header-left > .youtube-logo {
  width: 90px;
  height: 20px;
}

.header-middle {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 470px;
  margin-left: 60px;
}

.header-middle > .search-bar {
  flex: 1;

  padding: 1px 2px 1px 12px;

  height: 40px;

  font-size: 16px;

  border: 1px solid #cccccc;

  box-sizing: border-box;
}

.header-middle > .search-button {
  width: 64px;
  height: 40px;

  box-sizing: border-box;

  background-color: #f7f7f7;

  border: 1px solid #cccccc;

  margin: -1px;

  margin-right: 8px;
}

.header-middle > .search-button {
  width: 64px;
  height: 40px;

  box-sizing: border-box;

  background-color: #f7f7f7;

  border: 1px solid #cccccc;

  margin: -1px;

  margin-right: 8px;
}

.header-middle > .search-button > .search-button-icon {
  width: 24px;
  height: 24px;
  padding: 1px 6px;
}

.header-middle > .voice-search-container {
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: none;
  background-color: #f8f8f8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-middle > .voice-search-container > .voice-search-icon {
  width: 24px;
  height: 24px;
}

.header-right {
  width: 190px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0px 30px;
}

.header-right > .icon-container {
  position: relative;
}

.header-right > .icon-container > .icon {
  width: 24px;
  height: 24px;
}

.header-right > .icon-container > .notifications-counter {
  position: absolute;
  top: -4px;
  right: -6px;

  background-color: red;
  font-family: Arial;
  font-size: 10px;

  padding: 3px 3px;
  border-radius: 50%;

  color: white;
}

.header-right > .my-channel {
  width: 32px;
  height: 32px;

  border-radius: 50%;
}
